{% extends 'benessere/recp_base.html' %}

{% block content %}
  <h1>Detalhes do Pagamento</h1>
  <p><strong>Paciente:</strong> {{ pagamento.paciente.nome }}</p>
  <p><strong>Consulta:</strong> {{ pagamento.consulta }}</p>
  <p><strong>Valor:</strong> {{ pagamento.valor }}</p>
  <p><strong>Data do Pagamento:</strong> {{ pagamento.data_pagamento }}</p>

  <a href="{% url 'editar_pagamento' pagamento.id %}" class="btn btn-primary">Editar</a>
  <a href="{% url 'lista_pagamentos' %}" class="btn btn-secondary">Voltar</a>
{% endblock %}