{% extends 'benessere/recp_base.html' %}
{% block content %}
  <h1>Pagamentos</h1>
  <a href="{% url 'recp_adicionar_pagamento' %}" class="btn btn-primary">Adicionar Pagamento</a>
  <table class="table table-bordered">
    <tr>
      <th>Paciente</th>
      <th>Consulta</th>
      <th>Valor</th>
      <th>Data de Pagamento</th>
      <th>Ações</th>
    </tr>
    {% for pagamento in pagamentos %}
    <tr>
      <td>{{ pagamento.paciente.nome }}</td>
      <td>{{ pagamento.consulta }}</td>
      <td>R$ {{ pagamento.valor }}</td>
      <td>{{ pagamento.data_pagamento }}</td>
      <td>
        <a href="{% url 'recp_detalhes_pagamento' pagamento.id %}">Detalhes</a>
        <a href="{% url 'recp_editar_pagamento' pagamento.id %}">Editar</a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
